@use "../global";
@use "../components/button";
@use "../components/like";
@use "../layout/header";
@use "../layout/footer";
@use "../utils/mixin";

main {
  margin-top: 77px;
  background: #fbf8ec;
  .breadcrumb {
    .breadcrumb__list {
      display: flex;
      align-items: center;
      justify-content: start;
      .breadcrumb__list__item {
        padding: 10px 30px;
        a {
          @include mixin.title-5-2;
        }
      }
    }
  }
}
